body{

    margin:0;

    background:#dfe5d8;

    display:flex;

    justify-content:center;

}

.app{

    width:100%;
    max-width:430px;

    min-height:100vh;

    background:white;

    padding:25px;

}