body{

    margin:0;

    background:#dfe5d8;

    display:flex;

    justify-content:center;

}

.app{

    width:100%;
    max-width:430px;

    min-height:100vh;

    background:white;

    padding:25px;

}

#homeButton {
    position: fixed;

    top: 16px;

    left: max(
        16px,
        calc(47vw - 215px + 16px)
    );

    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: rgba(255,255,255,.9);

    text-decoration: none;
    font-size: 24px;

    box-shadow: 0 4px 12px rgba(0,0,0,.15);

    z-index: 9999;
}

.page,
.container,
.content {
    padding-top: 72px;
}